<form action="/tasks/add" method="POST">
   <div class="campos">
   <input type="text" name="title" id="title" placeholder="Ingrese un Titulo">
   <textarea name="description" id="description" cols="30" rows="2" placeholder="Ingrese una Descripcion"></textarea>
   </div>
   <button>add</button>
   </form>